body {
    background-color:rgb(91, 107, 64)
    }
    
    h1 {
        color: rgb(51, 49, 49);
        text-decoration:underline; 
        text-align: center;
    }
    
    h2{
        color: rgb(5, 71, 22);
    }
    
    h3{
        color: rgb(5, 71, 22);
    }

    .home {
        text-shadow: rgb(94, 90, 90) 1px 1px;
         -webkit-text-fill-color: rgba(19, 12, 12, 0.993);
          font-size: large;
    }
    
    #text-color{
        -webkit-text-fill-color: rgba(53, 35, 35, 0.993);
    }
    
    #goodbye{
        -webkit-text-fill-color: rgba(53, 35, 35, 0.993); 
        border-width: 5px; border-color: rgb(22, 22, 1); 
        border-radius: 5%; border-style:ridge; 
        text-align: center;
    }
    
    #tbl{
    table {
    width: 40%;
    
    }
    
    th, td {
        padding: 7px;
        text-align: left;
        border-bottom: 1px solid darkslategray;
    } 
    
    tr{
        -webkit-text-fill-color: rgb(49, 25, 9);
    }
    
    tr :hover{
     background-color: rosybrown;
    }
    }
    
    #float{
        float:right; padding-right: 90px; padding-left: 80px;
    }